@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login-bg {
    @apply fixed h-screen w-screen bg-gradient-pattern bg-[length:400%_400%] animate-gradient -z-10;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 mt-20 min-w-max my-auto rounded-md shadow-lg
    text-white bg-silver-chalice-800
    text-xs font-bold
    transition-all duration-300 scale-0 origin-center z-50;
  }

  .content {
    @apply flex flex-col relative mt-1 mx-8 overflow-auto z-[5] text-xl font-semibold text-white
  }

  .modal-overlay {
    @apply fixed bg-silver-chalice-700 bg-opacity-80 w-full h-screen inset-0 z-50
  }

  .modal-content {
    @apply ml-24 mr-8 flex justify-center items-center h-screen
  }

  .modal-dialog {
    @apply bg-silver-chalice-900 w-1/2 max-h-96 flex flex-col rounded-lg p-4 -ml-20 overflow-x-hidden overflow-y-auto
  }

  .modal-header {
    @apply flex flex-row border-b-2 border-[#88244a] pb-2 justify-between
  }

  .modal-header > div {
    @apply flex items-center transition rounded-md duration-100 hover:bg-silver-chalice-600
  }

  .modal-body {
    @apply flex flex-col mt-2 justify-center content-center my-auto border-b-2 border-[#88244a] text-white pt-4 pb-6
  }

  .modal-footer {
    @apply flex flex-row content-end justify-end pt-4 pb-2 space-x-4 dark:text-white
  }

  .add-button {
    @apply flex flex-row content-center justify-center bg-gradient-pattern w-1/4 rounded-lg p-2 text-white transition-all duration-200 disabled:brightness-50
  }

  .danger-button {
    @apply text-white bg-gradient-to-l from-[#864ba2] to-[#bf3a30] content-center justify-center w-1/4 rounded-md p-1 transition-all duration-200 disabled:brightness-50
  }

  .neutral-button {
    @apply text-white bg-gradient-to-l from-[#5e5c5c] to-[#9dc5c3] content-center justify-center w-1/4 rounded-md p-1 transition-all duration-200 disabled:brightness-50
  }

  .text-input {
    @apply bg-silver-chalice-800 rounded-md p-1 mt-1 text-silver-chalice-200 placeholder:text-silver-chalice-500
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
